* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #8e71e9;
}
@-webkit-keyframes chg_bkg_color /* Safari and Chrome */
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
100% {background: green;}
}
@-webkit-keyframes chg_text_color /* Safari and Chrome */
{
0%   {color: yellow;}
25%  {color: red;}
50%  {color: blue;}
100% {color: green;}
}
@-webkit-keyframes sync_color_1 /* Safari and Chrome */
{
0%   {color: #9dcfe6;}
10%  {color: #82c2df;}
20%  {color: #67b5d8;}
30% {color: #5aaed4;}
40%   {color: #4ca8d1;}
50%   {color: #349ac7;}
60%   {color: #308fba;}
70%   {color: #308fba;}
80%   {color: #24b3e5;}
90%   {color: #546ef0;}
100%   {color: #2546ec;}
}
body {
	font-family: "Helvetica Neue", "Comic Sans MS";
	width: 800px;
	margin: 0 auto;

}
#logo {
	float: left;
}
nav {
	float: right;
}
header {
	background-color: #45dc4f;
	overflow: auto;
}
section {

	background-color: white;
	overflow: auto;
}
#left {
	width: 17%;
	float: left;
}
#right {
	width: 83%;
	float: right;
}
footer {
	/*background-color: blue;
	font-weight: bold;
	text-decoration: underline;
	text-align:*/
}
.cell {
	background-color: white;
	border: 1px solid blue;
	margin: 5px;
	padding: 5px;
	width: 100px;
	text-align:right;
	-webkit-animation: sync_color_1 1s infinite;
	color: black;
}
.tweetcell {
	background-color: white;
	border: 1px solid blue;
	margin: 5px;
	padding: 5px;
	width: auto;
	text-align:right;
	-webkit-animation: sync_color_1 1s infinite;
	color: black;
}

textarea {
	font-family: "Comic Sans MS";
	width: 100%;
}
.post-button {
	color: red;
	-webkit-animation: chg_bkg_color 1s infinite;
	-webkit-animation: chg_text_color 1s infinite;
	text-decoration: none;
	background-color: orange;
	padding: 10px;
	display: block;
	border-radius: 5px;
	box-shadow: 0 0 20px black;
	-moz-transition: all 1s ease;
}
.post-button:hover {
	box-shadow: red;
}





