* {
	margin: 0;
	padding: .2;
}
html {
	background-color: #da9308;
}
@-webkit-keyframes chg_bkg_color /* Safari and Chrome */
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
100% {background: green;}
}
@-webkit-keyframes chg_text_color /* Safari and Chrome */
{
0%   {color: yellow;}
25%  {color: red;}
50%  {color: blue;}
100% {color: green;}
}
@-webkit-keyframes sync_color_1 /* Safari and Chrome */
{
0%   {background-color:#e5cd48 ;}
10%   {background-color: #e9d665;}
20%   {background-color: #e1c52a;}
30%   {background-color: #dbbf1f;}
40%   {background-color: #bda51b;}
50%   {background-color: #827112;}
60%   {background-color: #736410;}
70%   {background-color: #554a0c;}
80%   {background-color: #463d0a;}
90%   {background-color: #282306;}
100%   {background-color: #1a1604;}
}
body {
	font-family: "Helvetica Neue", "Comic Sans MS";
	width: 800px;
	margin: 0 auto;

}
#logo {
	float: left;
}
nav {
	float: right;
}
header {
	background-color: #45dc4f;
	overflow: auto;
}
section {

	background-color: white;
	overflow: auto;
}
#left {
	background-color: #1cacbc;
	width: 17%;
	float: left;
}
#right {
	background-color: #36f76d;
	width: 83%;
	float: right;
}
footer {
	/*background-color: blue;
	font-weight: bold;
	text-decoration: underline;
	text-align:*/
}
.cell {
	background-color: #36f76d;
	border: 2px solid blue;
	margin: 5px;
	padding: 5px;
	width: 100px;
	text-align:center;
	color: black;
}
.tweetcell {
	background-color: white;
	border: 2px solid blue;
	margin: 5px;
	padding: 5px;
	width: auto;
	text-align:right;

	-webkit-animation: sync_color_1 10s ;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	/*-webkit-animation: sync_color_1 1s infinite;*/
	color: black;
}

textarea {
	font-family: "Comic Sans MS";
	width: 100%;
}
.post-button {
	color: red;
	-webkit-animation: chg_bkg_color 1s infinite;
	-webkit-animation: chg_text_color 1s infinite;
	text-decoration: none;
	background-color: orange;
	padding: 10px;
	display: block;
	border-radius: 5px;
	box-shadow: 0 0 20px black;
	-moz-transition: all 1s ease;
}
.post-button:hover {
	box-shadow: red;
}





